<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143186342644-2i97td22l887p5tuc4auv46ekm4uauv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143186342644-2i97td22l887p5tuc4auv46ekm4uauv9</string>
	<key>API_KEY</key>
	<string>AIzaSyBR__kMWVEcwXzKrHF4j6XPtITx5u6GTNY</string>
	<key>GCM_SENDER_ID</key>
	<string>143186342644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.smartPort</string>
	<key>PROJECT_ID</key>
	<string>smartport-2ad44</string>
	<key>STORAGE_BUCKET</key>
	<string>smartport-2ad44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143186342644:ios:5a8a76a8135f9ad37be4a1</string>
</dict>
</plist>